*.class

#package files
*.war
*.jar
*.ear
*.zip
*.tar

#eclipse specific
.project
.metadata
local.properties
.classpath
.settings
.loadpath
logon.properties
/target/
/bin/


GitHubTestingLogger.*